$grid-columns: 12;
$breakpoints: (
    "xs": 0,
    "sm": 576px,
    "md": 768px,
    "lg": 992px,
    "xl": 1440px
);

@each $bp-name, $bp-value in $breakpoints {
    @media (min-width: $bp-value) {
        @for $i from 1 through $grid-columns {
            .col-#{$bp-name}-#{$i} {
                width: (100% / $grid-columns) * $i;
            }
        }
    }
}