.footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  width: 100%;
  margin-top: 7vh;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between; }
  .footer__news {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: 100vw;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    gap: 16px;
    margin-bottom: 8vh;
    -ms-flex-wrap: nowrap;
        flex-wrap: nowrap; }
    .footer__news_header {
      font-weight: 400;
      font-style: Regular;
      font-size: 32px;
      color: #000000CC;
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      max-width: 215px;
      margin-right: auto; }
    .footer__news_wrapper {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      overflow-x: scroll;
      scrollbar-width: none;
      -ms-overflow-style: none;
      -webkit-box-orient: horizontal;
      -webkit-box-direction: normal;
          -ms-flex-direction: row;
              flex-direction: row;
      gap: 16px; }
      .footer__news_wrapper::-webkit-scrollbar {
        display: none; }
      .footer__news_wrapper_part {
        width: 305px;
        height: 433px;
        border-radius: 8px;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
            -ms-flex-direction: column;
                flex-direction: column; }
        .footer__news_wrapper_part_img {
          height: 357px; }
        .footer__news_wrapper_part_header {
          font-size: 20px;
          color: #000000CC; }
        .footer__news_wrapper_part_text {
          font-size: 16px; }
  .footer__wrapper {
    width: 100vw;
    -webkit-box-pack: row;
        -ms-flex-pack: row;
            justify-content: row;
    -ms-flex-wrap: nowrap;
        flex-wrap: nowrap;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between; }
  .footer__logo {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    max-width: 857px;
    width: 60%; }
  .footer__nav {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: 14%;
    min-width: 200px; }
    .footer__nav_list {
      list-style: none;
      gap: 16px;
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
          -ms-flex-direction: column;
              flex-direction: column; }
      .footer__nav_list_part {
        font-weight: 400;
        font-style: Regular;
        font-size: 20px;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        margin-bottom: 16px; }
        .footer__nav_list_part a {
          text-decoration: none;
          color: #000000; }

@media screen and (max-width: 768px) {
  .footer__news {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    margin-bottom: 4vh; }

  .footer__news_wrapper {
    width: 100%; }

  .footer__news_wrapper_part_header {
    width: 100%; }

  .footer__wrapper {
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse; }

  img.footer__logo {
    width: 100%; }

  .footer__nav {
    width: 100%;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center; }

  li.footer__nav_list_part {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center; } }

/*# sourceMappingURL=news.css.map */