.header{
    display: flex;
    justify-content: space-between;
}
nav.header__nav{
    display: flex;
    align-items: center;
}
ul.header__nav__list{
    display: flex;
    flex-direction: row;
    width:100%;
    max-width: 411px;
    justify-content: space-between;
    list-style: none;
    gap:40px;
    a{
        color:#00000099;
        font-family: TT Commons;
        font-weight: 500;
        font-style: Medium;
        font-size: 16px;

    }
}
.header__contacts{
    display: flex;
    flex-direction: column;
    gap:12px;
    font-family: TT Commons;
    font-weight: 400;
    font-style: Regular;
    font-size: 16px;
    a.header__contacts__part{
       color:#000000CC; 
       text-align: right;
    }
}
.start-screen{
    padding-top: 20vh;
    flex-wrap: wrap;
}
@media screen and (max-width:1024px) {
    .start-screen{
        padding-top: 12vh;
    }
}
.start-screen__header{
    display: flex;
    width:100%;
    font-family: Redcollar;
    font-weight: 400;
    font-style: Regular;
    font-size: 60px;
    justify-content: center;
    text-align: center;
    letter-spacing: 0%;
    margin-bottom: 3vh;
}
button.start-screen__cases{
    width:136px;
    height:40px;
    border-radius: 12px;
    background: #E3032E;
    border:0;
    color:#ffff;
    font-family: TT Commons;
    font-weight: 500;
    font-style: Medium;
    font-size: 24px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: auto;
    margin-bottom: 9vh;
    cursor:pointer;
}
footer.start-screen__footer{
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}
@media screen and (max-width:1024px) {
    footer.start-screen__footer{
        justify-content: center;
    }
    h1.start-screen__header{
        font-size: 40px;
    }
}
@media screen and (max-width:768px) {
    footer.start-screen__footer{
        display: none;
    }
    h1.start-screen__header{
        font-size: 30px;
    }
}
h2{
        font-weight: 400;
        font-size: 28px;
        max-width: 580px;
    }
    .start-screen__footer_projects{
        max-width: 387px;
        height:272px;
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        gap:10px;
    }
    .start-screen__footer_projects-header{
        font-family: TT Commons;
        font-weight: 400;
        font-style: Regular;
        font-size: 16px;
        color:#000000CC;
        width:100%;
        
    }
    .start-screen__footer_projects-slider{
        justify-content: center;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
    }
    img.start-screen__footer_projects-slider_img{
        display: flex;
        width:13px;
        height:24px;
    }
    p.start-screen__footer_projects-slider-name{
        display: flex;
        width: calc(100% - 13px);
        color:#000000CC;
        font-weight: 400;
        font-style: Regular;
        font-size: 24px;
        margin-bottom: 12px;
    }
    .start-screen__footer_projects-slider_slide{
        display: flex;
        width:100%;
        background-color: #007BFC;
        border-radius: 12px;
        height:200px;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: right;
    }
    img.start-screen__footer_projects-slider_slide_img-people{
        margin-top: 47px;
        display: flex;
    }
    img.start-screen__footer_projects-slider_slide-name{
        width:100%;
        height:18px;
        display: flex;
        margin: auto;
    }
    img.start-screen__footer_projects-slider_slide_img-arrow{
        width:24px;
        height:24px;
        display: flex;
        margin-bottom: 20px;
    }