.footer{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width:100%;
    margin-top: 7vh;
    justify-content: space-between;
    &__news{
        display: flex;
        width:100vw;
        flex-direction: row;
        gap:16px;
        margin-bottom: 8vh;
        flex-wrap: nowrap;       
        &_header{
            font-weight: 400;
            font-style: Regular;
            font-size: 32px;
            color:#000000CC;
            display: flex;
            max-width: 215px;
            margin-right: auto;
        }
        &_wrapper{
            display: flex;
            overflow-x: scroll;
            scrollbar-width: none; 
            -ms-overflow-style: none; 
            flex-direction: row;
            gap:16px;
            &::-webkit-scrollbar {
                display: none;
            }
            &_part{
                width: 305px;
                height: 433px;
                border-radius: 8px;
                display: flex;
                flex-direction: column;
                &_img{
                    height:357px;
                }
                &_header{
                    font-size: 20px;
                    color:#000000CC;
                }
                &_text{
                    font-size: 16px;
                }
            }
        }
    }
    &__wrapper{
        width:100vw;
        justify-content: row;
        flex-wrap: nowrap;
        display: flex;
        justify-content: space-between;
    }
    &__logo{
        display: flex;
        max-width: 857px;
        width:60%;
    }
    &__nav{
        display: flex;
        width:14%;
        min-width: 200px;
        &_list{
            list-style: none;
            gap:16px;
            flex-direction: column;
            &_part{
                font-weight: 400;
                font-style: Regular;
                font-size: 20px;
                display: flex;
                margin-bottom: 16px;
                a{
                    text-decoration: none;
                    color:#000000;
                }
            }
        }
    }
}
@media screen and (max-width:768px) {
    .footer__news{
        flex-wrap: wrap;
        margin-bottom: 4vh;
    }
    .footer__news_wrapper{
        width:100%;
    }
    .footer__news_wrapper_part_header{
        width:100%;
    }
    .footer__wrapper{
        flex-direction: column-reverse;
    }
    img.footer__logo{
        width:100%;
    }
    .footer__nav{
        width:100%;
        flex-direction: column;
        align-items: center;
    }
    li.footer__nav_list_part{
        justify-content: center;
    }
}